#b {
    background-image: url(https://wallpaperaccess.com/full/266770.jpg);
    background-size: contain;
    background-position-x: center;
}

#crazy {
    width: 100px;
    height: 100px;
    text-shadow: 1;
    text-align: center;
    color: white
}